<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


<header>

	<nav class="navbar navbar-light bg-light">
        <div class = "container">
		<a class="navbar-brand" href="#">AAAM Meetup Finder</a>
		<ul class="nav">
			<li class="nav-item active">
				<a class="nav-link" href="accounts/login/">LOGIN</a>
			</li>
            <li class="nav-item active">
				<a class="nav-link" href="/">HOME</a>
			</li>
		</ul>
            </div>
	</nav>

</header>
<div class = "container">
  <div class = "text-center">
  <h1> Click the button to sign in via Google. </h1>


  <button type="button"  onclick="location.href='../google/login/?process=login'" class="btn btn-primary btn-lg">Google Login</button>
</div>
</div>